body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}

.title {
    text-align: center;
    font-size: 20px;
    margin: 10px;
    padding: 10px;
}

.top-nav {
    background-color: green;
    overflow: hidden;
    color: white;
    font-size: 25px;
    padding: 10px;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.projects {
    text-align: center;
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: darkslategray;
}

.project {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    background-color: whitesmoke;
    margin: 10px;
    padding: 10px;
    border-radius: 5px 15px;
    border: 1px solid black;
}

.tasks {
    text-align: center;
    display: flex;
    flex-direction: column;
    flex: 3;
    background-color: slategray;
}

.task {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    background-color: whitesmoke;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    min-height: 50px;
}

.info {
    display: none;
}

.open {
    display: inline;
}

.expand-btn {
    margin: auto;
    background-color: whitesmoke;
    transition: 0.3s;
    border: 0;
}

.expand-btn:hover {
    transform-origin: center;
    transform: scale(1.2);
}

.check-btn {
    position: absolute;
    right: 5px;
    bottom: 5px;
    background-color: whitesmoke;
    transition: 0.3s;
    border: 0;
}

.check-btn:hover {
    color:green;
    transform-origin: center;
    transform: scale(1.2);
}

.checked {
    color: green;
}

.del-btn {
    position: absolute;
    right: 5px;
    top: 5px;
    background-color: whitesmoke;
    transition: 0.3s;
    border: 0;
}

.del-btn:hover {
    color: red;
    transform-origin: center;
    transform: scale(1.2);
}


.current {
    background-color: blue;
}


.input {
    margin: 5px;
}

.add-btn {
    margin:auto;
    background-color: whitesmoke;
    transition: 0.3s;
    border: 0;
}

.add-btn:hover {
    transform-origin: center;
    transform: scale(1.2);
}


.timers {
    text-align: center;
    display: flex;
    flex-direction: column;
    flex: 2;
    background-color: lightslategrey;
    transition: 1s;
}


.bottom-nav {
    background-color: #555;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: white;
    padding: 10px;
}