body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}

.title {
    text-align: center;
    font-size: 20px;
    margin: 10px;
    padding: 10px;
}

.top-nav {
    background-color: #555;
    overflow: hidden;
    color: white;
    font-size: 25px;
    padding: 10px;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.projects {
    text-align: center;
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: darkslategray;
}

.project {
    text-align: center;
    background-color: whitesmoke;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
}

.tasks {
    text-align: center;
    display: flex;
    flex-direction: column;
    flex: 3;
    background-color: slategray;
}

.task {
    position: relative;
    text-align: center;
    background-color: whitesmoke;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
}

.delBtn {
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.3s;
}

.delBtn:hover {
    transform: rotate(45deg);
}

.timers {
    text-align: center;
    display: flex;
    flex-direction: column;
    flex: 2;
    background-color: lightslategrey;
    transition: 1s;
}


.bottom-nav {
    background-color: #555;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: white;
    padding: 10px;
}